#friends-display-link {
  background-color: rgba(0, 0, 0, 0.02);
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}
#friends-display-link > * {
  margin: 0px 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen__chennel-header {
  margin: 10px 0px;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-screen__chennel-header span {
  color: rgba(0, 0, 0, 0.6);
}

.friends-screen__chennel-header i {
  color: rgba(0, 0, 0, 0.3);
}
