.Icons {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}

.Icon {
  width: 25%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Icon i {
  margin: 20px 0px;
}

.Icon span {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
