.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .nav__ul {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  width: 25%;
  text-align: center;
  font-size: 20px;
  position: relative;
}

.nav__notiNum {
  position: absolute;
  right: 24px;
  bottom: 10px;
}

.nav__noti {
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 27px;
  top: -3px;
}

@keyframes btnup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  animation: btnup 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:last-child {
  animation-delay: 0.6s;
}
