.statusBar {
  background-color: white;
  top: 0px;
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.statusBar__column {
  width: 33%;
  padding: 0px 5px;
  box-sizing: border-box;
}

.statusBar__column:first-child span {
  margin-right: 5px;
}

.statusBar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.statusBar__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.statusBar__column .fa-battery-full {
  margin: 0px 5px;
}
