@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "var.css";
/* Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/header-bar.css";
@import "components/alt-header-bar.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/openchat-component.css";
@import "components/borderBox__component.css";
@import "components/icon_span__component.css";
@import "components/no-mobile.css";

/* screens*/
@import "screens/logIn.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/settings.css";
@import "screens/chatting.css";

body {
  font-family: "Open Sans", sans-serif;
}
.fixBar {
  width: 100%;
  position: fixed;
}

@keyframes splashani {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-icon {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 1;
  font-size: 120px;
  animation: splashani 0.2s linear forwards;
  animation-delay: 1s;
}
